h1, small {
    text-align: center;
}
a:not(btn) {
    color: #336fff;
}
a.btn {
    width: 30%;
    margin: 0 auto;
    display: block;
}
a:hover {
    text-decoration: none;
}
table {
    font-weight: bold;
    font-size: x-large;
    background-color: rgba(120,120,120,0.15);
}
